.Nav {
  text-align: center;
}

.Nav li {
  padding-top: 4%;
  font-size: 1.2em;
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}

.hidden {
  display: none;
}
.word-wrapper, .word-counts{
  margin-bottom: 10px;
  /* border: 1px solid rgb(0, 0, 0); */
  padding: 10px 10px;
  border-bottom: 0.5px solid rgb(144, 143, 143);
}

.word{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}
.meaning{
  font-size: 1.2em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.show-btn, .next-btn{
  font-family: 'Courier New', Courier, monospace;
}
